/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CSS General*/
#container{
	width: 100%;
	height: 100%;
	background-color: rgb(255, 253, 242);
}

/*CSS NAV*/
nav{
	background-color:rgb(152, 128, 186);
	border-bottom: black 0.1vmin solid;
	width: 100%;
	height: 15%;
    position: fixed;
	top: 0%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.54);
	text-align: center;
	min-height: 140px;
}
nav > div{
    padding: 0.5%;
    display: inline-block;
	width: 5.4%;
	height: 70%;
}
nav > div > img{
width: 100%;
height: 100%;
border-radius: 100%;
border: 0.3vmin solid grey;
}
.noborder{
	border: none;
}
/*CSS HEADER*/
header{
	overflow-y: auto;
	clear: both;
	border: 1px solid black;
	margin: 10%;
	height: fit-content;
}
header > div{
	float: left;
	width: 20%;
	padding: 3%;
}
header > div > img{
	width: 100%;
	height: 90%;
}
/*CSS MAIN*/

/*CSS FOOTER*/